{% extends "layout.html" %}

{% block main %}

  <div>
    <h2>Ativos Cadastrados</h2>
    <table>
      <tr>
        <th>ID do Ativo</th>
        <th>Código do Patrimônio</th>
        <th>Grupo Patrimonial do Ativo</th>
        <th>Departamento</th>
        <th>Valor do Ativo</th>
        <th>Data de aquisição do ativo</th>
        <th>Data de vencimento da garantia do ativo</th>
        <th>Data de desativacao do ativo</th>
        <th>Editar</th>
        <th>Excluir</th>
      </tr>
        {% for patrimonio in ativos %}
        <tr>
          <td>id</td>
          <td>{{ patrimonio }}</td>
          <td>{{ ativos[patrimonio] }}</td>
          <td>R$00,00</td>
          <td>Data de aquisição do ativo</td>
          <td>Data de vencimento da garantia do ativo</td>
          <td>Data de desativacao do ativo</td>
          <td><a href="">Excluir</a></td>
          <td><a href="">Editar</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}