<!DOCTYPE html>
<html lang="pt-br">
  <head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
  <title>Controle de Ativos - Localização</title>

</head>
<body>
  <div class="topnav">
    <a href="{{ url_for('cadastroAtivos') }}"onclick="showCadAtivos()">Cadastro de Ativos</a>
    <a href="{{ url_for('index') }}"onclick="showCadLocal()">Cadastro de Localização</a>
  </div>
  <ul>
    <li><a href="default.asp">Home</a></li>
    <li><a href="news.asp">News</a></li>
    <li><a href="contact.asp">Contact</a></li>
    <li><a href="about.asp">About</a></li>
  </ul> 

  <div id="cadastro-local">
    <h1>Cadastro de Localização</h1>

    <form action="">
      <div class="local-inputs">
        <div class="nome-input">
          <label for="nome_local">Nome da Localização:</label>
          <input id="nome_local "type="text" placeholder="Digite o nome da localização">
        </div>
        <div class="data-input">
          <label for="data_local">Data da Localização:</label>
          <input id="data_local "type="date" placeholder="Digite o data da localização">
        </div>
      </div>
      <input type="button" value="Enviar" onClick="showCadLocal()">
    </form>
  </div>
  <div>
    <h1>Tabela de Localizações cadastradas</h1>
  </div>
  
</body>
</html>