<!DOCTYPE html>
<html lang="pt-br">
  <head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
  <title>Controle de Ativos{% block title %}{% endblock %}</title>

</head>
<body>
  <div class="topnav">
    <a href="{{ url_for('cadastroAtivos') }}">Cadastro de Ativos</a>
    <a href="{{ url_for('cadastroManutencao') }}">Cadastro de Manutenção</a>
    <a href="{{ url_for('index') }}">Cadastro de Departamento</a>
    <a href="">Cadastro de Grupo Patrimonial</a>
    <a href="">Cadastro de Licenças</a>
    <a href="">Cadastro de Modelos de ativo </a>
  </div>

  <main>
    {% block main %}{% endblock %}
  </main>
</body>
</html>